/*-------------- catalog -----------------*/
.catalog-top{
	margin-bottom: 40px;
	margin-top: -32px;
	p:last-child{margin-bottom: 0;}
}

.catalog-sect{margin-bottom: 75px;}

.cat-sect-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;

	&__item{
		display: inline-block;
		vertical-align: top;
		border: 1px solid $color-light-grey;
		padding: 15px 19px;
		@include font(normal, bold, 1.8rem, 1.2, $color-blue);
		white-space: nowrap;
		margin: 5px;
		transition: border 0.2s ease 0s;
	}

	&__item:hover,
	&__item.active{
		border-color: $color-blue;
	}
}

.catalog-bottom{padding: 68px 0 60px;}

@media (max-width: 767px) {
	.catalog-top{
		margin-bottom: 28px;
		margin-top: 0;
	}

	.catalog-sect{margin-bottom: 36px;}

	.cat-sect-list{
		margin: 0 -4px;

		&__item{margin: 4px;}
	}

	.catalog-bottom{padding: 33px 0 35px;}
}