/*-------------- design-table -----------------*/
.design-table-wrap{margin-bottom: 40px;}

.design-table{
	width: 100%;
	font-size: 1.6rem;

	th,
	td{
		padding: 9px 15px 10px;
	}

	th{
		padding-top: 5px;
		padding-bottom: 17px;
	}

	th:first-child,
	td:first-child{
		padding-left: 30px;
	}

	th:last-child,
	td:last-child{
		padding-right: 30px;
	}

	th{
		font-size: 1.8rem;
		font-weight: 500;
	}

	tr{border-bottom: 1px solid $color-light-grey;}
}

h2 + .design-table-wrap, .h2 + .design-table-wrap{margin-top: -12px;}

@media (max-width: 767px) {
	.design-table-wrap{
		margin: 0 -15px 30px;
		overflow-y: auto;
	}

	.design-table{
		min-width: 500px;

		th{white-space: nowrap;}

		th:first-child,
		td:first-child{
			padding-left: 15px;
		}

		th:last-child,
		td:last-child{
			padding-right: 15px;
		}
	}

	h2 + .design-table-wrap, .h2 + .design-table-wrap{margin-top: -17px;}
}