/*-------------- footer-menu -----------------*/
.footer-menu{
	&,
	&__item{
		@include reset-list;
	}

	&{margin-top: -3px}

	&__item::before{display: none;}
	&__item:not(:last-child){margin-bottom: 6px;}

	&__link{
		@include font(normal, normal, 1.6rem, 1.625, $color-blue);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__link:hover{color: $color-blue-hover;}
}