/*-------------- main-menu -----------------*/
.nav{
	position: relative;
	border-bottom: 1px solid $color-light-grey;

	.col-12{position: static;}
}

.main-menu{
	&__list,
	&__item,
	&__sub,
	&__sub-item{
		@include reset-list;
	}

	&__item::before,
	&__sub-item::before{
		display: none;
	}

	&__list{
		display: flex;
		justify-content: space-between;
	}

	&__item{
		width: 100%;
		position: relative;
	}

	&__item_no-pos{position: static;}

	&__link{
		display: block;
		vertical-align: top;
		@include font(normal, normal, 1.8rem, 1.2, $color-blue);
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		padding: 19px 24px;
		transition: all 0.2s ease 0s;
	}

	&__item.active &__link,
	&__link:hover{
		background: $color-blue-hover;
		color: #fff;
	}

	&__sub{
		display: none;
		min-width: 200px;
		background: $color-blue-hover;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
	}

	&__sub-link{
		display: block;
		@include font(normal, normal, 1.6rem, 1.2, #fff);
		text-decoration: none;
		padding: 10px 15px;
		transition: background 0.2s ease 0s;
	}

	&__sub-link.active,
	&__sub-link:hover{
		background: #5f87d6;
	}
}

.cat-menu-wrap{
	display: none;
	padding: 32px 0;
	background: $color-blue-hover;
	color: #fff;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
}

.cat-menu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&,
	&__item,
	&__sub,
	&__sub-item{
		@include reset-list;
	}

	&{
		margin-left: -15px;
		margin-right: -15px;
	}

	&__item{
		width: calc(25% - 30px);
		margin: 18px 15px;
	}

	&__item::before{display: none;}

	&__link{
		@include font(normal, bold, 2rem, 1.5, #fff);
		transition: color 0.2s ease 0s;
	}

	&__sub{margin-top: 12px;}

	&__sub-item{
		padding-left: 20px;
		margin-bottom: 6px;
	}

	&__sub-item::before{
		content: '»';
		width: auto;
		height: auto;
		background: transparent;
		@include font(normal, bold, 1.4rem, 1, #fff);
		margin-right: 10px;
	}


	&__sub-link{
		@include font(normal, normal, 1.6rem, 1.375, #fff);
		transition: color 0.2s ease 0s;
	}

	&__item.active &__link,
	&__link:hover,
	&__sub-item.active &__sub-link,
	&__sub-link:hover{
		color: $color-yellow;
	}
}

@media (max-width: 1239px) {
	.main-menu{
		&__link{font-size: 1.6rem;}
	}
}

@media (max-width: 991px) {
	.main-menu{
		&__link{
			font-size: 1.5rem;
			padding: 15px 10px;
		}
	}

	.cat-menu{
		&__item{width: calc(33.33% - 30px);}
	}
}

@media (min-width: 768px) {
	.main-menu{
		&__item:hover .cat-menu-wrap,
		&__item:hover &__sub{
			display: block!important;
		}

		&__arr{display: none;}
	}

	.cat-menu{
		&__arr{display: none;}
		&__sub{display: block!important;}
	}
}

@media (max-width: 767px) {
	.nav{
		display: none;
		width: 100vw;
		height: calc(100vh - 60px);
		background: $color-blue;
		color: #fff;
		overflow-y: auto;
		position: absolute;
		top: 100%;
		left: 0;
	}

	.main-menu{
		&__list{
			display: block;
			margin-left: -15px;
			margin-right: -15px;
		}

		&__item{border-bottom: 1px solid rgba(255,255,255,0.1);}

		&__link{
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			color: #fff;
			text-align-last: left;
			position: relative;
			padding: 20px 15px;
		}

		&__arr{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
			margin: -12px -10px -12px 10px;

			.icon{transform: all 0.2s ease 0s;}
		}

		&__arr.active .icon{transform: rotate(180deg);}

		&__link &__arr .icon{fill: #fff;}

		.cat-menu-wrap,
		&__sub{
			display: none;
			position: static;
		}

		&__sub-item{background: #dce6fa;}
		&__sub-item:not(:last-child){border-bottom: 1px solid #fff;}

		&__sub-link{
			display: flex;
			justify-content: space-between;
			font-size: 1.8rem;
			font-weight: bold;
			color: $color-blue;
			padding: 20px 15px;
		}
	}

	.cat-menu-wrap{padding: 0;}

	.cat-menu{
		display: block;

		&__item{
			width: 100%;
			margin: 0;
			background: #dce6fa;
			border-bottom: 1px solid #fff;
		}

		&__link{
			display: flex;
			justify-content: space-between;
			font-size: 1.8rem;
			line-height: 1.5;
			font-weight: bold;
			color: $color-blue;
			text-decoration: none;
			padding: 20px 15px;
			transition: background 0.2s ease 0s;
		}

		&__link:hover{
			background: $color-blue-hover-light;
			color: $color-blue;
		}

		&__arr{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
			margin: -12px -10px -12px 10px;
			
			.icon{transform: all 0.2s ease 0s;}
		}

		&__arr.active .icon{transform: rotate(180deg);}

		&__link &__arr .icon{fill: $color-blue;}

		&__sub{
			display: none;
			background: $color-blue-hover;
			margin: 0;
		}

		&__sub-item{
			padding: 0;
			margin: 0;
		}

		&__sub-item::before{display: none;}

		&__sub-link{
			display: block;
			font-size: 1.6rem;
			font-weight: normal;
			line-height: 1.5;
			color: #fff;
			text-decoration: none;
			padding: 10px 15px;
		}

		&__sub-link &__arr .icon{fill: #fff;}
	}
}