/*-------------- project-list -----------------*/
.project-slider{
	display: none;
	margin: 40px -15px 50px;

	&.slick-initialized{display: block;}
	.slick-track{display: flex;}

	.slick-slide{
		margin: 0 15px;
		height: auto;
	}

	.btn-arr{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 0;
		background: $color-blue;
		cursor: pointer;
		position: absolute;
		top: 90px;
		z-index: 10;

		&_left{left: -45px;}
		&_right{right: -45px;}

		.icon{
			fill: #fff;
			transition: fill 0.2s ease 0s;
		}

		&:hover .icon{fill: $color-blue-hover-light;}
	}
}

.project-list{
	margin-top: 4.6rem;

	.project-item{margin-bottom: 3rem;}
}

.project-item{
	&__img-wrap{
		display: block;
		border: 8px solid #ebebeb;
		padding-top: 60%;
		text-decoration: none;
		overflow: hidden;
		transition: border 0.2s ease 0s;
		position: relative;
	}

	&__img-wrap::after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(235,235,235,0.6);
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 0.2s ease 0s;
	}

	&__img{
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease 0s;
	}

	// &__img-wrap:hover{border-color: $color-blue;}
	&__img-wrap:hover &__img{transform: translate(-50%, -50%) scale(1.05);}
	&__img-wrap:hover::after{opacity: 1;}

	&__content{padding: 23px 30px;}

	&__address{
		@include font(normal, normal, 1.6rem, 1.625, #757575);
		margin-bottom: 5px;
	}

	&__title{
		@include font(normal, bold, 2.2rem, 1.45, $color-text);

		a{
			color: $color-text;
			text-decoration: none;
			transition: all 0.2s ease 0s;
		}

		a:hover{color: $color-blue;}
	}
}

@media (max-width: 1350px) {
	.project-slider{
		.btn-arr{
			&_left{left: -15px;}
			&_right{right: -15px;}
		}
	}
}

@media (max-width: 767px) {
	.project-slider{
		margin-top: 23px;
		margin-bottom: 18px;

		.btn-arr{
			background: #fff;
			top: calc(100vw / 3.2);

			&_left{left: 0;}
			&_right{right: 0;}

			.icon{
				width: 9px;
				fill: $color-blue;
			}
		}
	}

	.project-list{
		margin-top: 2.3rem;

		.project-item{margin-bottom: 1rem;}
	}

	.project-item{
		&__img-wrap{padding-top: 70%;}

		&__content{
			text-align: center;
			padding: 14px 15px;
		}

		&__address{font-size: 1.4rem;}
		&__title{font-size: 1.8rem;}
	}
}

@media (max-width: 539px) {
	.project-list{
		margin-left: -15px;
		margin-right: -15px;
	}
}

@media (max-width: 479px) {
	.project-slider{
		.slick-slide{margin: 0;}
	}
}