extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'catalog.html',name:'Каталог'},
			{href: 'catalog-deatil.html',name:'Каталог детальная'},
			{href: 'projects.html',name:'Наши проекты'},
			{href: 'about.html',name:'О компании'},
			{href: 'quest-form.html',name:'Опросный лист'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


