

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-Bold.eot');
	src: local('TT Norms Bold'), local('TTNorms-Bold'),
		url('#{$path-fonts}/TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-Bold.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-Regular.eot');
	src: local('TT Norms Regular'), local('TTNorms-Regular'),
		url('#{$path-fonts}/TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-Regular.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-Italic.eot');
	src: local('TT Norms Italic'), local('TTNorms-Italic'),
		url('#{$path-fonts}/TTNorms/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-Italic.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-Light.eot');
	src: local('TT Norms Light'), local('TTNorms-Light'),
		url('#{$path-fonts}/TTNorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-Light.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-LightItalic.eot');
	src: local('TT Norms Light Italic'), local('TTNorms-LightItalic'),
		url('#{$path-fonts}/TTNorms/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-LightItalic.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-BoldItalic.eot');
	src: local('TT Norms Bold Italic'), local('TTNorms-BoldItalic'),
		url('#{$path-fonts}/TTNorms/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-BoldItalic.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-Medium.eot');
	src: local('TT Norms Medium'), local('TTNorms-Medium'),
		url('#{$path-fonts}/TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-Medium.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms';
	src: url('#{$path-fonts}/TTNorms/TTNorms-MediumItalic.eot');
	src: local('TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
		url('#{$path-fonts}/TTNorms/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/TTNorms/TTNorms-MediumItalic.woff') format('woff'),
		url('#{$path-fonts}/TTNorms/TTNorms-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}