html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.67, $color-text);
	box-sizing:border-box;
	// min-height:100%;
}

body{font-size: 1.8rem;}

body.no-scroll{
	height: 100vw;
	width: 100vh;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-blue;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 3.2rem;
}

ul, ol{list-style-position: inside;}

ul{
	list-style: none;
	padding-left: 20px;

	li{margin-bottom: 10px;}

	li::before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 5px;
		height: 5px;
		background: $color-blue;
		margin-left: -20px;
		margin-right: 15px;
	}
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	font-weight: 300;
	line-height: 1.4;
	color: $color-text;

	b{font-weight: 500;}
}

h1,.h1{
	font-size: 4.6rem;
	margin-bottom: 5rem;
}

h2,.h2{
	font-size: 4rem;
	margin-bottom: 4.7rem;
}

h3,.h3{
	font-size: 2.8rem;
	margin-bottom: 3rem;
}

h4,.h4{
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

h5,.h5{
	font-size: 2.1rem;
	margin-bottom: 2rem;
}

h2 + p, .h2 + p{margin-top: -10px;}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 75px;
	width: 100%;
}

.last-elem{margin-bottom: -75px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: 7.2rem;
	background: $color-blue;
	border: 0;
	outline: 0;
	@include font(normal, normal, 1.6rem, 7.2rem, #fff);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 40px;
	margin: 0;
	cursor: pointer;
	box-shadow: none;
	position: relative;
	transition: all 0.2s ease 0s;
}

@keyframes bgchange{
	0%{background-color: $color-blue;}
	50%{background-color: #6789ce;}
	100%{background-color: $color-blue;}
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	color: #fff;
	animation: bgchange 2s linear infinite;
}

.btn{
	.icon{fill: #fff;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.bg-grey{background-color: #f5f5f5;}
.bg-light-blue{background-color: $color-light-blue;}

.fancybox-content{
	padding: 55px 30px 30px;
	border: 2px solid $color-blue-hover;
}

.fancybox-slide--html .fancybox-close-small{padding: 4px;}

.fancybox-button svg path{
	fill: #adadad;
	opacity: 1;
	transition: fill 0.2s ease 0s;
}

.fancybox-button:hover svg path{fill: $color-blue-hover;}

@media (min-width: 992px) {
	.btn{
		&__arr{
			opacity: 0;
			position: relative;
			right: -10px;
			margin-right: -10px;
			transition: all 0.2s ease 0s;
		}
		
		&__text{
			position: relative;
			transition: all 0.2s ease 0s;
			left: 0;
		}
		
		&:hover &__arr{
			opacity: 1;
			right: 0;
		}
		
		&:hover &__text{left: -10px;}
	}
}

@media (max-width: 991px) {
	.btn{
		position: static;
		&__arr:last-child{margin-left: 15px;}
		&__arr:first-child{margin-right: 15px;}
	}

	h1, .h1{font-size: 4rem;}
	h2, .h2{font-size: 3.6rem;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		font-size: 1.5rem;
	}
}

@media (max-width: 767px) {
	main{
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.last-elem{margin-bottom: -40px;}

	.wrapper{overflow: hidden;}
	.container{max-width: 100%!important;}
	body{font-size: 1.6rem;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 6rem;
		line-height: 5.8rem;
		font-size: 1.4rem;
		padding: 0 30px;
	}

	.fancybox-content{
		padding-left: 15px;
		padding-right: 15px;
	}

	h1, .h1{
		font-size: 3.6rem;
		margin-bottom: 3rem;
	}

	h2, .h2{
		font-size: 3rem;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 2rem;
	}

	h3,.h3{font-size: 2.4rem;}
	h4,.h4{font-size: 2.1rem;}
	h5,.h5{font-size: 1.8rem;}

	p{margin-bottom: 2.6rem;}
	.h2 + p, h2 + p{margin-top: -0.4rem;}
}