footer.footer
	.container
		.row
			.col-md-3.order-2.order-md-1
				.footer__copyright © "ПромоТек — Завод по производству ёмкостей из стеклопластика"

			.col-md-3.d-none.d-md-block
				ul.footer-menu
					-
						var list = [
							{text:'О компании'},
							{text:'Продукция', status:'true'},
							{text:'Скидки'},
							{text:'Отгрузки'},
						]

					each item in list
						li.footer-menu__item(class=item.status?'active':'')
							a(href="#").footer-menu__link= item.text

			.col-md-3.d-none.d-md-block
				ul.footer-menu
					-
						var list = [
							{text:'Доставка'},
							{text:'Новости'},
							{text:'Вакансии'},
							{text:'Контакты'},
						]

					each item in list
						li.footer-menu__item(class=item.status?'active':'')
							a(href="#").footer-menu__link= item.text


			.col-md-3.order-1.order-md-2
				.pay
					.pay__label Способы оплаты:

					.pay__list
						.pay__item
							img(src="assets/img/mastercard.png", alt="")

						.pay__item
							img(src="assets/img/visa.png", alt="")


		.footer__bottom
			.row
				.col-md-6.col-xl-9
					.footer__polit
						a(href="#") Политика конфиденциальности

				.col-md-6.col-xl-3.d-md-flex.justify-content-md-end.justify-content-xl-start
					.develop
						.develop__label Разработка сайтов
						.develop__logo
							img(src="assets/img/logo-strog.png", alt="")
						.develop__text Strogov.ru

.move-up.js-move-up
	+svg('ic-arrow-up','ic-arrow-up', '18', '12')

#feadback-form(style='display: none;')
	.popup-form
		.popup-form__title <b>Обратный</b> звонок

		form.form-site
			.form-site__item
				input(type="text", placeholder="Ваше имя")

			.form-site__item
				input.js-phone(type="text", placeholder="Телефон")

			.form-site__btn
				button.btn
					span.btn__text Отправить
					span.btn__arr
						+svg('ic-arrow-right','ic-arrow-right', '8', '12')
