header.header
	.header-top.d-none.d-md-block
		.container
			.row
				.col-12
					.header-top__content
						.header-top__logo-wrap
							.header-top__logo
								a(href="#")
									img(src="assets/img/logo.png", alt="")

							.header-top__slogan Завод по производству ёмкостей из стеклопластика

						.header-top__contact
							.header-phone
								.header-phone__icon
									+svg('ic-call','ic-call', '18', '18')

								a(href="tel:+78123090040") +7 (812) 309-00-40,
								| 
								a(href="tel:+74997034003") +7 (499) 703-40-03

							.header-top__feadback-wrap
								.header-top__mail
									a(href="mailto:info@promo-tek.ru") info@promo-tek.ru

								.header-top__feadback
									a(data-fancybox='' data-src='#feadback-form' href='javascript:;') Обратный звонок

	.header-mobile.d-md-none
		.container
			.row
				.col-12
					.header-mobile__content
						.header-mobile__main
							span.ic-hamburger.js-btn-menu
								span

							.header-mobile__logo
								a(href="#")
									img(src="assets/img/logo.png", alt="")

						.header-mobile__call
							span.header-mobile__call-open.js-open-call
								+svg('ic-call','ic-call', '18', '18')
							
							span.header-mobile__call-close.js-close-call
								span.ic-hamburger
									span

	
	.header-mob-contact.d-md-none.js-header-mob-contact
		.header-mob-contact__city Санкт-Петербург
		.header-mob-contact__address пр. 9-го Января, д.3, корп. 1, офис 301

		.header-mob-contact__phone
			a(href="tel:+78123090040") +7 (812) 309-00-40
			br
			a(href="tel:+74997034003") +7 (499) 703-40-03

		.header-mob-contact__mail
			a(href="mailto:info@promo-tek.ru") info@promo-tek.ru

		.header-mob-contact__btn
			a.btn(data-fancybox='' data-src='#feadback-form' href='javascript:;') Обратный звонок
	
	.nav.js-nav
		.container
			.row
				.col-12
					nav.main-menu
						ul.main-menu__list
							-
								var list=[
									{
										text:'О компании',
										submenu:[
											{text:'Тест 1'},
											{text:'Тест 2'},
											{text:'Тест 3'},
										]
									},
									{text:'Продукция', catalog:'true'},
									{text:'Скидки', status:'active'},
									{text:'Отгрузки'},
									{text:'Доставка'},
									{text:'Новости'},
									{text:'Вакансии'},
									{text:'Контакты'},
								]

							each item in list
								li.main-menu__item(class=item.status?'active':item.catalog?'main-menu__item_no-pos':'')
									a(href="#").main-menu__link.js-mob-link= item.text
										if(item.submenu || item.catalog)
											.main-menu__arr.js-mob-arr
												+svg('ic-arrow-down','ic-arrow-down', '12', '8')

									if(item.submenu)
										ul.main-menu__sub.js-mob-sub
											each submenu in item.submenu
												li.main-menu__sub-item
													a(href="#").main-menu__sub-link= submenu.text

									if(item.catalog)
										.cat-menu-wrap.js-mob-sub
											.container
												.row
													.col-12
														ul.cat-menu
															-
																var catalog=[
																	{
																		text:'Емкости',
																		sub:[
																			{text:'Накопительные', status:'active'},
																			{text:'Пожарные'},
																			{text:'Топливные'},
																			{text:'Химстойкие'},
																			{text:'Для питьевой воды'},
																		]
																	},
																	{
																		text:'Ливневые очистные сооружения',
																		sub:[
																			{text:'Комплексные системы очистки'},
																			{text:'Пескоотделители'},
																			{text:'Маслобензоотделители'},
																			{text:'Сорбционные блоки'},
																			{text:'Блоки УФО'},
																		]
																	},
																	{
																		text:'Насосные станции',
																		sub:[
																			{text:'Канализационные насосные станции'},
																			{text:'Станции пожаротушения'},
																			{text:'Станции повышения давления'},
																		]
																	},
																	{
																		text:'Канализация для частного дома',
																		sub:[
																			{text:'Септики'},
																			{text:'Станции биологической очистки'},
																			{text:'Биофильтры'},
																		]
																	},
																	{
																		text:'Крупные хозбытовые очистные сооружения',
																	},
																	{
																		text:'Очистные сооружения промышленных стоков',
																	},
																	{
																		text:'Жироотделители',
																	},
																	{
																		text:'Колодцы',
																	},
																	{
																		text:'Водоподготовка',
																	},
																]
															each cat in catalog
																li.cat-menu__item
																	a(href="#").cat-menu__link.js-mob-link= cat.text
																		if(cat.sub)
																			.cat-menu__arr.js-mob-arr
																				+svg('ic-arrow-down','ic-arrow-down', '12', '8')

																	if(cat.sub)
																		ul.cat-menu__sub.js-mob-sub
																			each sub in cat.sub
																				li.cat-menu__sub-item(class=sub.status?'active':'')
																					a(href="#").cat-menu__sub-link= sub.text
